@charset "utf-8";
/* CSS Document */

body,
td,
th,
p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}

body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
	display: flex;
}

ul,
li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}

a {
	color: orange;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #3397db;
	text-decoration: none;
}

a img{
	border: none 0px #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

#maincontent {
  background-color: #f3f3f3;
  height: 100%;
}

#footer {
  background-color: #444;
  color: #fff;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align:center;
}
nav h1 {
  margin: auto;
}

nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    width: calc(50% - 80px);
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}

#button {
	padding: 10px;
  font-weight: bold;
  border-radius: 4px;
  font-size: 1.2em;
  letter-spacing: 2px;
	margin: 20px -50px;
	position: relative;
	left: 50%;
}

#button:hover{
	background-color: #3397db;
    color: white;
    text-decoration: underline;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  /*width: 100%;*/
  height: 50px;
  background-color: #1081CF;
  align-items: center;
}

.filter-options h2 {
  color: black;
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
	display: none;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  /*padding: 0 10px;*/
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  /*margin: 0px 40px;*/
	/*margin: -10px 40px;*/
  padding: 30px 0px 60px;
  text-align: center;
}

#restaurants-list li {
  /*background-color: #fff;*/
  /*border: 2px solid #ccc;*/
  font-family: Arial,sans-serif;
  margin: 15px;
  min-height: 380px;
  /*padding: 30px 25px;*/
  text-align: left;
  /*width: 270px;*/
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  /*min-height: 248px;
  min-width: 100%;*/
	border-radius: 4px;
}
.favorite-img {
	float: right;
	width: 10%;
	margin: 25px 10px;
}
#restaurants-list li h2 {
  color: #000;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  /*text-transform: uppercase;*/
}

#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}

#restaurants-list li a {
  background-color: #1081CF;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
	font-weight: bold;
	letter-spacing: 1.2px;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 87%;
  position: fixed;
  right: 0;
  top: 80px;
  width: 50%;
}

.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}

.inside #footer {
  bottom: 0;
  position: absolute;
}

#restaurant-name {
  color: #000;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 10px 0 10px;
  text-transform: uppercase;
  line-height: 1.1;
	padding: 15px 0 0 0;
	display: inline-block;
}

#favorite-img {
	float: right;
	margin: 25px 130px;
	width: 4.5%;
}

#restaurant-img {
	width: 90%;
}

#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}

#restaurant-cuisine {
  background-color: #333;
  color: #fff;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 4px 0;
  text-align: center;
  text-transform: uppercase;
	width: 90%;
}

#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 170px 40px 30px;
  width: 50%;
}

#reviews-container {
  padding: 30px 40px 80px;
}

#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}

#reviews-list {
  margin: 0;
  padding: 0;
}

#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 5px 10px 5px;
  position: relative;
  width: 85%;
	font-size: 1.1em;
}

#reviews-list li p {
  margin: 0 0 10px;
	font-size: 1.15em;
}

#restaurant-hours td {
  color: #444343;
	font-size: 1.12em;
}

/* ====================== Restaurant HomePage ====================== */

body,
header,
main {
  width: 100%;
}

body {
	flex-wrap: wrap;
}

/* Header */

header {
  margin: auto;
}

nav h1 {
	padding: 20px;
}

/* Section */

#map-container {
	position: relative;
}

.filter-options {
	padding: 20px;
}

#restaurants-list {
	display: block;
}

#restaurants-list li {
	padding: 5px 15px;
	width: 20%;
	float: left;
}

#restaurants-list li a{
	border-radius: 4px;
}

#restaurants-list li a:focus,
#restaurants-list li a:hover {
  background: #c2185b;
  color: #fff;
  text-decoration: underline;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
              0 3px 1px -2px rgba(0, 0, 0, .2),
              0 1px 5px 0 rgba(0, 0, 0, .12);
}

/* Footer */

footer {
  width: 100%;
}

/* Media Queries Restaurant Homepage */

@media screen and (max-width: 483px){
  .filter-options {
    display: table;
  }
}

@media screen and (max-width: 1199px) and (min-width: 920px){
	#restaurants-list li {
		width: 20%;
		padding: 0px;
		margin: 10px 23px;
  }

	#restaurants-list li h2 {
		font-size: 1.19em;
	}

	#restaurants-list p {
		font-size: 1.03em;
	}
}
@media screen and (max-width: 919px) and (min-width: 801px){
	#restaurants-list li {
		width: 24%;
		padding: 10px 0px;
		margin: 0px 36px;
  }

	#restaurants-list li h2 {
		font-size: 1.325em;
	}

	#restaurants-list p {
		font-size: 1.049em;
	}

	#restaurants-list li a{
		padding: 8px 30px 5px;
	}
}

@media screen and (max-width: 800px) and (min-width: 600px){
	#restaurants-list li {
  	width: 38%;
    margin: 10px 25px;
		padding: 0px 10px;
  }

	#restaurants-list li h2 {
		font-size: 1.35em;
	}

	#restaurants-list p {
		font-size: 1.0em;
	}

	#restaurants-list li a{
		padding: 8px 30px 5px;
	}
}

@media screen and (max-width: 599px) and (min-width: 521px){
	#restaurants-list {
		width: 100%;
	}

	#restaurants-list li {
		width: 80%;
		padding: 10px 30px;
		margin: 0px 60px;
  }
}

@media screen and (max-width: 520px){
	#restaurants-list {
		width: 100%;
	}

	#restaurants-list li {
		width: 80%;
		padding: 10px 40px;
		margin: auto;
  }
}

/* ====================== Restaurant Detail Page ====================== */

/* Section */

#restaurant-img {
	margin: 2px -40px;
}

#hours-header {
	font-size: 1.5em;
	color: red;
	margin: auto;
}

figcaption {
  font-style: italic;
  margin: 2px -40px;
}

.inside #footer {
  width: 100%;
}

/* Media Queries Restaurant Details Page */

@media screen and (max-width: 1341px) and (min-width: 800px) {
	#restaurant-name {
		margin: 10px 200px 7px 0px;
	}

	#favorite-img {
		margin: -35px 140px;
	}
}

@media screen and (max-width: 799px) {
	input, textarea {
		width: 100%;
	}
}

@media screen and (max-width: 799px) {
  #restaurant-container {
    order: -1;
    width: 80%;
    margin: 300px 0 0 0;
  }

  .inside #map-container {
    width: 100%;
    position: absolute;
    max-height: 20%;
  }

  #reviews-container {
    order: 1;
    width: 70%;
  }

	#favorite-img {
		margin: -37px 130px;
		width: 4%;
	}

  #reviews-list li {
    width: 100%
  }

  .inside #footer {
    order: 2;
    width: 91.5%;
  }

  #restaurant-address,
  #restaurant-hours td,
  #reviews-list li p {
    font-size: 1.14em;
  }

	/* Form Media Query */
	#myModal {
		width: 92%;
		margin: auto;
	}
	/*
	input {
		width: 100%;
	}*/
}

@media screen and (max-width: 680px) {
		#restaurant-name {
			margin: 10px 150px 8px 0px;
		}

		#favorite-img {
			margin: -33px 125px;
		}
}

@media screen and (max-width: 450px) {
	#restaurant-name {
		margin: -10px 150px 8px 0px;
	}
	/*
	input, textarea {
		width: 100%;
	}*/
}

/* The Modal*/
.modal {
	width: 90%
}

/* Lable */
	label {
		font-size: 1.2em;
	}

/* Form Style */
  input, textarea {
	font-size: 1em;
  width: 80%;
  padding: 8px;
  margin: 8px 40px;
  box-sizing: border-box;
  border-radius: 4px;
}

input[type=button] {
	width: 30%;
}

input[type=button]:hover{
	background-color: grey;
  color: white;
  font-weight: bold;
}
